html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PlayerContainer {
  position: fixed;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7%;
  bottom: 0;
}

.ControlContainer {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  object-fit: contain;
}

.PlayerControl {
  margin: 0.5rem;
  max-width: 2rem;
  height: auto;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.PlayerControlActive {
  margin: 0.5rem;
  max-width: 2rem;
  height: auto;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
}

.PlayerControlActive:active {
  padding: 0.5rem;
  background-color: rgba(255,255,255,0.1);
  border-radius: 2rem;
}

.PlayerControl:hover {
  transform: scale(1.1);
}

.PlayerControl:active {
  padding: 0.5rem;
  background-color: rgba(255,255,255,0.1);
  border-radius: 1rem;
}

.nav {
  position: fixed;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7%;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav h1 {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.nav input {
  margin: 1rem;
  height: 1.5rem;
  width: 15rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav img {
  position: absolute;
  right: 9%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.nav img:hover {
  transform: Scale(1.15);
}

.LogoContainer {
  font-size: 1rem;
}

.searchList{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-right: 1rem;
}

.searchList li{
  color: white;
  cursor: pointer;
}

.SearchContainer {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  object-fit: contain;
}

.SongContainer{
  position: fixed;
  left: 1rem;
  display: flex;
  align-items: center;
  bottom: 0.2%;
}

.SongContainer img {
  width: 3rem;
  border-radius: 50%;
}

.SongContainer ul {
  margin: 0;
  padding-left: 1rem;
  display: block;
  width: 6rem;
  list-style: none;
  color: white;
  overflow: hidden;
}

.SongContainer p {
  color: white;
  padding-left: 2rem;
}

.VolumeContainer {
  position: fixed;
  right: 1rem;
  display: flex;
  align-items: center;
}

.VolumeSlider {
  width: 200px;
  height: 4px;
  background-color: #888888;
  border-radius: 2px;
  outline: none;
  appearance: none;
}

.VolumeSlider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.VolumeSlider::-webkit-slider-thumb:active{
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.VolumeIcon {
  width: 40px;
  height: auto;
}

.TimelineContainer {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2.6rem;
  height: 50%;
  width: 100%;
}

.Timeline {
  display: flex;
  margin-left: -0.01rem;
  width: 100%;
  background-color: #888888;
  outline: none;
  appearance: none;
}

.Timeline::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.Timeline::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.Timeline::-webkit-slider-runnable-track {
  height: 10px;
}

@media (max-width: 768px) {
  .PlayerContainer {
    flex-direction: column;
    align-items: center;
    height: 10%;
  }

  .ControlContainer, .SongContainer, .VolumeContainer, .TimelineContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

}

